---
layout: layouts/base.njk
---
{% from "partials/gallery.njk" import featured, archive %}

<section class="section page-section">
  <div class="container">
    <div class="section-grid" style="--section-columns:1">
      <article class="section-item" style="--item-index:0">
        <div class="page-content json-body-text">{{ content | markdown | safe }}</div>
      </article>
    </div>
  </div>
</section>

<section class="section page-section">
  <div class="container">
    <div class="section-grid" style="--section-columns:1">
      <article class="section-item" style="--item-index:0">
        {{ featured(gallery.featuredImages) }}
      </article>
    </div>
  </div>
</section>

<section class="section page-section">
  <div class="container">
    <div class="section-grid" style="--section-columns:1">
      <article class="section-item" style="--item-index:0">
        {{ archive(gallery.groups) }}
      </article>
    </div>
  </div>
</section>
