---
layout: layouts/base.njk
---
{% from "partials/gallery.njk" import runner %}

<section class="section page-section">
  <div class="container">
    <div class="section-grid" style="--section-columns:1">
      <article class="section-item" style="--item-index:0">
        <div class="page-content json-body-text">{{ content | markdown | safe }}</div>
        {% if galleryImages and galleryImages.length %}
          {{ runner("runner", galleryImages) }}
        {% endif %}
      </article>
    </div>
  </div>
</section>
